$main-color: rgb(240, 101, 67);
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$light-dark: #464545;
$dark: #1B1B1B;
$darker-dark: #1B1B1B;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$orange-gradient: linear-gradient(45deg, rgba(240, 101, 67, 0.6), rgba(255, 190, 61, 0.6));
$orange-gradient-solid: linear-gradient(45deg, rgb(240, 101, 67), rgb(255, 190, 61));
// $orange-gradient: linear-gradient(45deg, rgba(245, 71, 3, 0.6), rgba(255, 117, 24, 0.6));
// $orange-gradient-solid: linear-gradient(45deg, rgb(245, 71, 3), rgb(255, 117, 24));

$purple-gradient: linear-gradient(45deg, rgba(22, 15, 23, 0.75), rgba(68, 0, 255, 0.75));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
