$main-color: rgb(240, 101, 67);
$secondary-color: #164dcc;
$pure-white: #fff;
$light-white: #eee;
$light-dark: #464545;
$dark: #1B1B1B;
$darker-dark: #0c0c0c;
$beige: #d5bf86;
$beige-hover: #8d775f;

$light-orange-gradient: linear-gradient(45deg, rgba(255, 137, 108, 0.6), rgba(253, 198, 89, 0.6));
$orange-gradient: linear-gradient(45deg, rgba(240, 101, 67, 0.6), rgba(255, 190, 61, 0.6));
$orange-gradient-solid: linear-gradient(45deg, rgb(240, 101, 67), rgb(255, 190, 61));
$second-orange-gradient: linear-gradient(45deg, rgba(245, 71, 3, 0.6), rgba(255, 117, 24, 0.6));
// $orange-gradient-solid: linear-gradient(45deg, rgb(245, 71, 3), rgb(255, 117, 24));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(0, 78, 255) 0%, rgb(0, 212, 255) 100%);
